<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <div id="wrapper">
        <!-- Header -->
        <header id="header">
            <a href="/" class="home-button">← Home</a>
            <div class="inner"> 
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about-me.html">About Me</a></li>
                <li><a href="research.html">Research</a></li>
                <li><a href="code.html">Code</a></li>
                <li><a href="teaching.html">Teaching</a></li>
                <li><a href="outreach.html">Outreach</a></li>
                <li><a href="cv.html">CV</a></li>
            </ul>
        </nav>
        
        <!-- Main -->
        <div id="main">
            <div class="inner">
                {{ content }}
            </div>
        </div>
        
        <!-- Footer INSIDE wrapper -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Connect</h2>
                    <ul class="icons">
                        <li><a href="https://github.com/jlynch2195" class="icon brands fa-github style2"><span class="label">GitHub</span></a></li>
                        <li><a href="https://orcid.org/0009-0000-9210-8964" class="icon brands fa-orcid style2"><span class="label">ORCID</span></a></li>
						<li><a href="https://www.youtube.com/@jimmylynch8195" class="icon brands fa-youtube style2"><span class="label">YouTube</span></a></li>
                        <li><a href="https://linkedin.com/in/james-lynch79/" class="icon brands fa-linkedin-in style2"><span class="label">LinkedIn</span></a></li>
                        <li><a href="mailto:jlyn@uoregon.edu" class="icon solid fa-envelope style2"><span class="label">Email</span></a></li>
                    </ul>
                </section>
                <ul class="copyright">
                    <li>&copy; Jimmy Lynch </li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>
    </div>
    
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>